<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>

</head>
<body>
    <div id="himg" class="jumbotron jumbotron-fluid text-white " th:fragment="himage">
        <div class="container">
            <h1 class="display-4">Best Online Shop</h1>
            <p class="lead">Online Shop blah blah blah...</p>
            <a href="#" class="btn btn-success">Try Now!</a>
        </div>
        <style>
            #himg{
                background: url("https://images.unsplash.com/photo-1555529771-122e5d9f2341?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1300&q=80");
                background-position: center ;
            }
        </style>
    </div>
</body>
</html>